
<section style="background-color:aquamarine" id="future">
<div class="container text-center">
	<div class="row"></div>
		<h2>Our Future News</h2>
		<hr class="primary">
	
</div>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
  <!--  -->
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-block ">
    <h4 class="card-title text-center">Special Features</h4>
    <p class="card-text text-left" style="padding:10px ">{{p1}}</p>
	<p class="card-text text-left" style="padding:10px">{{p2}}</p>
	<p class="card-text text-left" style="padding:10px ">{{p3}}</p>
	    
   <button class="btn btn-primary">Know More</button>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

  </div>
   <div class="col-md-9">
  
 
	  
	   <div id="carouselIndicators1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators1" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators1" data-slide-to="1"></li>
          
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" >
		
            <div class="carousel-caption d-none d-md-block ">
			   <div class="row" *ngFor="let future of futureArray1">
               	
					
				<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{future.url}}" alt="Card image cap">
  <div class="card-block" style="padding:10px">
    <h4 class="card-title">{{future.title}}</h4>
    <p class="card-text text-faded text-left">{{future.comment}}</p>

  </div> 
</div>

            </div>
			</div>
          </div>
        
		
		  <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <div class="row">
               	
					
				<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="assets/img/11.jpg" alt="Card image cap">
  <div class="card-block" style="padding:10px">
    <h4 class="card-title">Card title</h4>
    <p class="card-text text-faded text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="assets/img/7.jpg" alt="Card image cap">
  <div class="card-block" style="padding:10px">
    <h4 class="card-title">Card title</h4>
    <p class="card-text text-faded text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   <p class="card-text text-faded text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>
            </div>
            </div>
          </div>
         </div>
		
        <a class="carousel-control-prev" href="#carouselIndicators1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
	   </div>
  
  
  </div><!--row-->
  </div><!--Container-->
</section><!--Future Section-->
<app-reviews-component></app-reviews-component>