
<section class="bg-" id="service">

<div class="container">
<div class="row"> 
 
		   <div class="col-md-6 mx-auto text-center">
            <h2 class="section-heading text-black">
			We Offer Different Services</h2>
            <hr class="light">
            <p class="text-faded ">
			We hope that, we are best logistics company to provide your all transpt logistics.</p>
			<h6 class="text-faded " >
			We have 24/7, just call us 789.</h6>
		
			<a class="btn btn-secondary btn-xl js-scroll-trigger" href="#services">More Services</a>
			
			<a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Services</a>
		
            </div>
		   <div class="col-md-4 mx-auto text-center">
		  <div class="img">
		  <img src="assets/img/6.png" alt="fork Lift" class="img-fluid">
		</div></div>
</div>
</div>
<!--
<div class="container">

<div class="row" style="padding-top:30px" *ngFor="let cargo of cargoArray">

<div class="table-responsive col-md-4" >
<table class="table table-bordered table-hover">
<tr><td>

<h4><b>{{cargo.cargo}}</b></h4>
<p class="text-faded ">{{cargo.exp}}</p>
</td>
</tr>
</table>
</div>
</div>  
</div>-->
<div class="container">
<div class="row" style="padding-top:30px">

<div class="table-responsive col-md-4">
<table class="table table-bordered table-hover">
<tr>
<td><h4><b>Air Freight</b></h4>
<p class="text-faded ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni.</p>
</td>
</tr>
</table>
</div>

<div class="table-responsive col-md-4"> 
<table class="table table-bordered table-hover">
<tr>
<td><h4><b>Ocean Freight</b></h4>
<p class="text-faded ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni.</p></td>
</tr>
</table>
</div>

<div class="table-responsive col-md-4">
<table class="table table-bordered table-hover">
<tr>
<td><h4><b>Logistic Service</b></h4>
<p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni.</p></td>
</tr>
</table>
</div>
</div><!--/row-->
</div><!--/Container-->

</section> <!--Service Section-->

<!-- banner-bottom -->
    <div class="container-fluid bg-burlywood">
<div class="row">
<div class="banner-bottom mid-section-agileits"></div>
	<div class="col-md-6 bannerbottomleft">
			<div class="video-grid-single-page-agileits">
				<div data-video="MNsWRQ9XOxs" id="video"> <img src="assets/img/video.jpg" alt="" class="img-responsive" /> </div>
			</div>
	</div> <!-- /col -->
	<div class="col-md-6 bannerbottomright">
		<h3>How Does We Work?</h3>
		<p>Ut enim ad minima veniam, quis nostrum 
			exercitationem ulla corporis suscipit laboriosam, 
			nisi ut aliquid ex ea.</p>
		<h4><i class="fa fa-taxi" aria-hidden="true"></i>International Transport Deliver System</h4>
		<h4><i class="fa fa-shield" aria-hidden="true"></i>Fast & Best Deliver Service</h4>
		<h4><i class="fa fa-ticket" aria-hidden="true"></i>Standard Courier value</h4>
		<h4><i class="fa fa-space-shuttle" aria-hidden="true"></i>Easy And Air freight Service</h4>
		<h4><i class="fa fa-truck" aria-hidden="true"></i>Packaging & Storage</h4>
	</div>
	<div class="clearfix"></div>
</div><!-- /row -->
 </div> <!-- /container -->
<!-- //banner-bottom -->

<app-future-component></app-future-component>